.content-container {
  max-width: 75vw;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.content-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-action {
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

.dropdown {
  padding: 5px;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0.5rem;
}

.grid-container-extra {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0.5rem;
  margin-right: 15px;
}

.category-grid-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.5rem;
}

.active {
  background-color: #d8dbd8;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
.pagination,
.pagination *,
.pagination *:before,
.pagination *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
.pagination {
  font-size: 8pt;
  line-height: 1;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  transition: font-size 0.2s ease-in-out;
}
.pagination ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: 0.5em;
}
.pagination ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
}
.pagination > a {
  font-size: 140%;
}
.pagination a {
  color: #777;
  font-size: 100%;
  padding: 0.5em;
}
.pagination a:focus,
.pagination a:hover {
  color: #f60;
}
.pagination li.current {
  background: rgba(0, 0, 0, 0.1);
}
/* Disabled & Hidden Styles */
.pagination .disabled,
.pagination [hidden],
.pagination [disabled] {
  opacity: 0.5;
  pointer-events: none;
}
@media (min-width: 350px) {
  .pagination {
    font-size: 10pt;
  }
}
@media (min-width: 500px) {
  .pagination {
    font-size: 12pt;
  }
}
@media (min-width: 700px) {
  .pagination {
    font-size: 14pt;
  }
}
@media (min-width: 900px) {
  .pagination {
    font-size: 16pt;
  }
}

@media (max-width: 768px) {
  .content-container {
    max-width: 90vw;
  }

  .content-headline {
    display: block;
  }

  .content-action {
    display: flex;
    margin-bottom: 20px;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-container-extra {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .category-grid-container {
    display: flex;
    flex-direction: column;
  }
}
